.releases {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #006cc2 40%, #2196f3);
}

.container-title {
    background-color: white;
}

.releases-container {
    width: 200px;
    height: 30px;
}

.releases-container .title {
    padding: 20px 0 0 20px;
    color: black;
    font-family: Source Sans Pro;
    font-weight: 600;

}

.card {
    border: none;
}

.card-body {
    padding: 4px;
}

.mt-5 {
    margin-top: 1.5rem !important
}

.card-title,
.card-text {
    color: black;
    font-size: 1rem;
}

.card-title {
    font-family: Source Sans Pro;
    font-weight: 700
}

.card-title:hover {
    color: #006cc2;
}

.card-text {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
}

.container-img {
    height: 12rem;
}

.title-movies h2 {
    color: white;
}